@mixin foot {
  text-align: center;
  padding: 1rem 0;
  background-color: #181616;
  color: white;
}

footer {
  @include foot;
  a {
    color: beige;
    &:hover {
      text-decoration: underline;
    }
  }
}